<!DOCTYPE html>
<!--ng app added to the html tag to let hte browser know the page is an angular app-->
<html data-ng-app="saveTheRhinoApp">

<head>
    <!--viewport meta tag to help with responsiveness-->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta charset="UTF-8">

    <!--link to the fontAwesome CDN placed above css so overides in stylesheet work-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/styleSheet.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">

    <!--link to google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300|Raleway" rel="stylesheet">
    <!-- link to favicon incon-->
    <link rel="icon" href="images/Silhouette.png" sizes="16x16" type="image/png">
    <!--link to the angular JS CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
    <!-- addtional angular -routing script linked to the site to allow for routing  	-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular-route.js"></script>
    <!-- addtional angular -animation script linked to the site to allow for angular animation  	-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.32/angular-animate.min.js"></script>
    <title>Save The Rhino</title>
</head>

<body data-ng-controller="shoppingCart_controller">
    <header class="main_header">
        <a class="main_header_txt width70" href="index.html">Save the Rhino</a>
        <div class="btn_nextSection width30 column" ng-click="showMenu = !showMenu">
            <img src="images/Silhouette.png" alt="Save the Rhino Logo">
        </div>
    </header>

    <div data-ng-include="'includes/mobileNavBar.html'"></div>

    <div class="splash_header">
        <h1 class="title">Rhino index</h1>
        <h1>Everything you need to know about rhinos.</h1>
        <h1> Here you can find up-to-date population figures, detailed information on the five species of rhino.</h1>
    </div>
    <main class="flex-row" data-ng-controller="saveTheRhino_controller">
        <div class="pageSection_20">
            <a href="rhinoPage.html#/name" ng-click="whatRhino(0); whatImage(1); whatMenu('white') ">
                <img class="pageImg" ng-src="images/white_2.jpg" alt="Description" />
                <h1 class="splash_title">White Rhino</h1>
            </a>
        </div>
        <div class="pageSection_20">
            <a href="rhinoPage.html#/name" ng-click="whatRhino(1); whatImage(2); whatMenu('black') ">
                <img class="pageImg" ng-src="images/black_2.jpg" alt="Description" />
                <h1 class="splash_title">Black Rhino</h1>
            </a>
        </div>
        <div class="pageSection_20">
            <a href="rhinoPage.html#/name" ng-click="whatRhino(2); whatImage(3); whatMenu('one') ">
                <img class="pageImg" ng-src="images/horn_2.jpg" alt="Description" />
                <h1 class="splash_title">One Horned </h1>
            </a>
        </div>
        <div class="pageSection_20">
            <a href="rhinoPage.html#/name" ng-click="whatRhino(3); whatImage(1); whatMenu('sam') ">
                <img class="pageImg" ng-src="images/sam_6.jpg" alt="Description" />
                <h1 class="splash_title">Sumantran Rhino</h1>
            </a>
        </div>
        <div class="pageSection_20">
            <a href="rhinoPage.html#/name" ng-click="whatRhino(4); whatImage(1); whatMenu(jav) ">
                <img class="pageImg" ng-src="images/java_2.jpg" alt="Description" />
                <h1 class="splash_title">Javan Rhino</h1>
            </a>
        </div>
    </main>

    </main>
    <!-- ng-view used for routing of all pages into the main tag of the page
autoscroll set so that the page scrolls to the top after clicking to see a new page-->
    <script src="javascript/saveTheRhinoApp.js"></script>
    <script src="javascript/shoppingCart_controller.js"></script>
    <script src="javascript/saveTheRhino_controller.js"></script>
</body>

</html>