<header class="images40_header">
    <h3 class="title_large">Behaviour and Teritory</h2>
</header>
<div class="images40_mainText_container">
    <h3 class="title">Sociability</h2>
        <h3 class="output">{{rhino[thisRhino].sociability}}</h3>
        <h3 class="title">Female Territory</h2>
            <h3 class="output">{{rhino[thisRhino].femaleTer}}</h3>
            <h3 class="title">Male Territory</h2>
                <h3 class="output">{{rhino[thisRhino].maleTer}}</h3>
                <h3 class="title">Scent Marking</h2>
                    <h3 class="output">{{rhino[thisRhino].scent}}</h3>
                    
</div>
<footer class="fullWidth flex-row">
        <a class=" btn_nextSection width30"  href="#characteristics" ng-click="whatImage(3)">
                <p>back</p>
            </a>
    <a class="btn_nextSection width70" href="#breeding" ng-click="whatImage(5)">
        <p>next</p>
        <h2>Breeding and Birth</h2>
    </a>
</footer>