<header class="images40_header">
    <h3 class="title_large">Breeding and Birth</h2>
</header>
<div class="images40_mainText_container">
    <h3 class="title">Mating and courtship</h2>
        <h3 class="output">{{rhino[thisRhino].mating}}</h3>
        <h3 class="title">Gestation and birth</h2>
            <h3 class="output">{{rhino[thisRhino].birth}}</h3>
</div>
<footer class="fullWidth flex-row">
    <a class=" btn_nextSection width30" href="#behaviour" ng-click="whatImage(4)">
        <p>back</p>
    </a>
    <a class="btn_nextSection width70" href="#facts" ng-click="whatImage(6)">
        <p>next</p>
        <h2>Interesting Facts</h2>
    </a>
</footer>