<header class="images40_header">
    <h3 class="title_large">
        Physical Character</h2>
</header>
<div class="images40_mainText_container">
                <h3 class="title">Skin Colour</h2>
                    <p class="output">{{rhino[thisRhino].skin}}</p>
                    <h3 class="title">Hair</h2>
                        <p class="output">{{rhino[thisRhino].hair}}</p>
                        <h3 class="title">Distinctive Characteristics</h2>
                            <p class="output">{{rhino[thisRhino].characteristic}}</p>
</div>
<footer class="fullWidth flex-row">
        <a class=" btn_nextSection width30"  href="#habitat" ng-click="whatImage(2)">
                <p>back</p>
            </a>
    <a class="btn_nextSection width70" href="#behaviour" ng-click="whatImage(4)">
        <p>next</p>
        <h2>Behaviour and Teritory</h2>
    </a>

</footer>