<header class="images40_header">
    <h3 class="title_large">Interesting Facts</h2>
</header>
<div class="images40_mainText_container">
        <h3 class="title">Fact</h2>
    <h3 class="output">{{rhino[thisRhino].facts}}</h3>
    <h3 class="title">Sounds</h2>
        <h3 class="output">{{rhino[thisRhino].sounds}}</h3>
        <h3 class="title">Daily Activiy</h2>
            <h3 class="output">{{rhino[thisRhino].dailyActivtiy}}</h3>
</div>
<footer class="fullWidth flex-row">
        <a class=" btn_nextSection width30" href="#breeding" ng-click="whatImage(5)">
                <p>back</p>
            </a>
    <a class="btn_nextSection width70" ng-click="whatImage(1)" href="index.html">
        <p>return to</p>
        <h2>Rhino Index</h2>
    </a>
</footer>