<header class="images40_header">
    <h3 class="title_large">Habitat</h2>
</header>
<div class="images40_mainText_container">
    <h3 class="title">Location</h2>
        <p class="output">{{rhino[thisRhino].location}}</p>
        <h3 class="title">Habitat</h2>
            <p class="output">{{rhino[thisRhino].habitat}}</p>
            <h3 class="title">Food</h2>
                <p class="output">{{rhino[thisRhino].food}}</p>
</div>
<footer class="fullWidth flex-row">
        <a class=" btn_nextSection width30"  href="#name" ng-click="whatImage(1)">
                <p>back</p>
            </a>
    <a class=" btn_nextSection width70"  href="#characteristics" ng-click="whatImage(3)">
        <p>next</p>
        <h2>Physical Characteristics</h2>
    </a>
</footer>