<div class="images40_container">
        <header class="images40_header">
                <h3 class="title_large">Name</h2>
                        <h2 class="output">{{rhino[whatRhino].type}}</h3>
        </header>
        <div class="images40_mainText_container">
                <h3 class="title">Synonym</h2>
                        <p class="output">{{rhino[whatRhino].synonym}}</p>
                <h3 class="title">Scientific Name</h2>
                        <p class="output">{{rhino[whatRhino].scientific}}</p>
                <h3 class="title">Population</h2>
                        <p class="output">{{rhino[whatRhino].population}}</p>
        </div>
        <footer class="fullWidth btn_nextSection">
                
                        <p>next Section</p>
                        <h2>Habitat</h2>
                
        </footer>
</div>

<!-- 
        ******************
        Habitat Section
        ******************
 -->
<div class="images40_container">
        <header class="images40_header">
                <h3 class="title_large">Habitat</h2>
        </header>
        <div class="images40_mainText_container">
                <h3 class="title">Location</h2>
                        <p class="output">{{rhino[whatRhino].location}}</p>
                <h3 class="title">Habitat</h2>
                        <p class="output">{{rhino[whatRhino].habitat}}</p>
                <h3 class="title">Food</h2>
                        <p class="output">{{rhino[whatRhino].food}}</p>
        </div>
        <footer class="fullWidth ">
                <a class="btn_nextSection" ng-click="" href="#physical">
                        <p>next Section</p>
                        <h2>Physical Characteristics</h2>
                </a>
        </footer>
</div>

<!-- 
        ******************
        physical characteristics Section
        ******************
 -->

<div class="images40_container">
        <header class="images40_header">
                <h3 class="title_large">Physical Characteristics</h2>
        </header>
        <div class="images40_mainText_container">
                <h3 class="title">Size</h2>
                        <p class="output">{{rhino[whatRhino].size}}</p>
                <h3 class="title">Weight</h2>
                                <h3 class="output">{{rhino[whatRhino].weight}} kg</h3>
                <h3 class="title">Shoulder height</h2>
                        <div class="flex-row">
                                <img src="" alt="sillioute of man">
                                <img src="" alt="sillioute of rhino">
                        </div>
                        <p class="output">{{rhino[whatRhino].height}} m</p>
                <h3 class="title">Skin Colour</h2>
                        <p class="output">{{rhino[whatRhino].skin}}</p>
                <h3 class="title">Hair</h2>
                        <p class="output">{{rhino[whatRhino].hair}}</p>
                <h3 class="title">Distinctive Characteristics</h2>
                        <p class="output">{{rhino[whatRhino].characteristic}}</p>
        </div>
        <footer class="fullWidth ">
                <a class="btn_nextSection" ng-click="" href="#Behaviour">
                        <p>next Section</p>
                        <h2>Behaviour and Teritory</h2>
                </a>
        </footer>
</div>

<!-- 
        ******************
        Behaviour and Teritory Section
        ******************
 -->

<div class="images40_container">
        <header class="images40_header">
                <h3 class="title_large">Behaviour and Teritory</h2>
        </header>
        <div class="images40_mainText_container">
                <h3 class="title">Sociability</h2>
                        <h3 class="output">{{rhino[whatRhino].sociability}}</h3>
                        <h3 class="title">Female Territory</h2>
                                <h3 class="output">{{rhino[whatRhino].femaleTer}}</h3>
                                <h3 class="title">Male Territory</h2>
                                        <h3 class="output">{{rhino[whatRhino].maleTer}}</h3>
                                        <h3 class="title">Scent Marking</h2>
                                                <h3 class="output">{{rhino[whatRhino].scent}}</h3>
                                                <h3 class="title">Sounds</h2>
                                                        <h3 class="output">{{rhino[whatRhino].sounds}}</h3>
                                                        <h3 class="title">Daily Activiy</h2>
                                                                <h3 class="output">{{rhino[whatRhino].dailyActivtiy}}</h3>
        </div>
        <footer class="fullWidth btn_nextSection">
                <a class="" ng-click="" href="#breeding">
                        <p>next Section</p>
                        <h2>Breeding and Birth</h2>
                </a>
        </footer>
</div>

<!-- 
        ******************
        Breeding and Birth Section
        ******************
 -->

<div class="images40_container">
        <header class="images40_header">
                <h3 class="title_large">Breeding and Birth</h2>
        </header>
        <div class="images40_mainText_container">
                <h3 class="title_large">Mating and courtship</h2>
                <h3 class="output">{{rhino[{{whatRhino}}].mating}}</h3>
                        <h3 class="title_large">Gestation and birth</h2>
                        <h3 class="output">{{rhino[whatRhino].birth}}</h3>
        </div>
        <footer class="fullWidth ">
                <a class="btn_nextSection" ng-click="" href="#facts">
                        <p>next Section</p>
                        <h2>Interesting Facts</h2>
                </a>
        </footer>
</div>

<!-- 
        ******************
        Interesting Facts Section
        ******************
 -->

 <div class="images40_container">
                <header class="images40_header">
                        <h3 class="title_large">Interesting Facts</h2>
                </header>
                <div class="images40_mainText_container">
                        <h3 class="output">{{rhino[whatRhino].facts}}</h3>
                </div>
                <footer class="fullWidth ">
                        <a class="btn_nextSection" ng-click="" href="#donate">
                                <p>next Section</p>
                                <h2>Donate</h2>
                        </a>
                </footer>
        </div>